# Copy this file to credentials.pkrvars.hcl and fill in your values

vsphere_server     = "192.168.4.206"
vsphere_user       = "administrator@vsphere.local"
vsphere_password   = "your-password-here"
vsphere_datacenter = "your-datacenter"
vsphere_cluster    = "your-cluster"
vsphere_datastore  = "your-datastore"
vsphere_network    = "your-network"

ssh_username = "thresh"
ssh_password = "thresh123"
